# Build environment
/bin
/build
/.gradle
/gradle
/.settings
gradlew
gradlew.bat
/logs
/libs
/META-INF
options.txt

# Test environment
/runServer
/runClient
/crash-reports

# Launchers
Forge_Client.launch
ForgeServer.launch